<h4>Hello i am the course <%= @name %></h4>

<p><%= @content %></p>

<div>
  <button type="button"><a href="/<%= @name %>/edit">Modify course</a></button><br><br>
  <form action="/<%= @name %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="deleteCourse" value="deleteCourse">
  </form>
</div>
