<p>Vamos a registrarnos</p>
<form action="/create" method="post">
  <fieldset>
  <label for="nameInput">name</label><br>
  <input type="text" name="nameInput" value="" id="nameInput">
  </fieldset>

  <fieldset>
  <label for="descriptionInput">description</label><br>
  <textarea name="descriptionInput" value="" id="descriptionInput" cols="30"></textarea>
  </fieldset>
  <input type="submit">
</form>
